.Cart {
  display: flex;
  min-width: 90%;
  margin: 0 auto;
  min-height: 500px;
}

.List {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 50%;
  width: 70%;
  align-items: flex-start;
}

.TotalCart {
  padding: 5px;
  min-width: 30%;
}
